{% extends 'Users/base.html' %}
{% load  staticfiles %}

{% block title_extra %}LeaderBoard-{% endblock title_extra %}

{% block body_content %}
    {% include 'Users/navbar.html' %}
    <div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
        <div class="card">
            <table class="table">
            <thead class="thead-dark">
            <tr>
            <th scope="col">
            <div class="dropdown show " >
            <a class="btn text-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Select Quiz
                </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                {% for quiz in all_quiz %}
                <a href="{% url 'Users:leaderboard'  quiz.pk %}" class="dropdown-item">{{ quiz.quiz_title }}</a>
                {% endfor %}
            </div>
            </div>
            </th>
            <th scope="col">
            {{ current_quiz.quiz_title }}
            </th>
            </tr>
            </thead>
            </table>
            <br>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Score</th>
                </tr>
              </thead>
              <tbody>
              {% for key, value in dict.items %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ key.user.first_name }}</td>
                  <td>{{ value.score }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
        </div>
    </div>
    </div>
{% endblock body_content %}
