{% extends 'Users/base.html' %}
{% load  staticfiles %}

{% block title_extra %}{{ quiz.quiz_title }}-{% endblock title_extra %}

{% block body_content %}
    {% include 'Users/navbar.html' %}
    <div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
        <div class="card">
            <br>
            {% for question in questions %}
            <div class="card">
              <div class="card-header">
                Question {{ forloop.counter }}.
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ question.question_text }}</h5>
                <br>
                <div class="card-text">Your answer:

                {% for response in responses %}
                    {% if response.question.id == question.id %}
                        {% for option in question.options_set.all %}
                            {% if option.is_correct %}
                                {% if response.selected_option ==  option.option_text %}
                                    <p class="text-success">{{ response.selected_option }}</p>
                                {% else %}
                                    <p class="text-danger">{{ response.selected_option }}</p>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}

                </div>
              </div>
            </div>
            {% endfor %}
        </div>
        </div>
    </div>
    </div>
{% endblock body_content %}
