{% extends 'Users/base.html' %}

{% block title_extra %}Home{% endblock title_extra%}

{% block body_content %}
    {% include 'Users/navbar.html' %}
    {% if request.user.is_authenticated %}
        {% if request.user.profile.role == "Student" %}
            {% if all_quiz %}
                {% for quiz in all_quiz %}
                        {% if quiz in request.user.profile.student.all %}
                            <div class="card border-danger mb-3 mt-5 ml-5" style="max-width: 18rem;">

                                <div class="card-header bg-transparent border-danger text-danger">Quiz {{ forloop.counter }}</div>
                                <div class="card-body text-danger">
                                    <h5 class="card-title">{{ quiz.quiz_title }}</h5>
                                    <p class="card-text">This Quiz has {{ quiz.question_set.count }} questions.</p>
                                </div>
                            <div class="btn btn-danger"><a href="#" class="card-link text-white">View Response</a></div>

                            </div>
                        {% else %}

                <div class="card border-success mb-3 mt-5 ml-5" style="max-width: 18rem;">

                        <div class="card-header bg-transparent border-success text-success">Quiz {{ forloop.counter }}</div>
                        <div class="card-body text-success">
                            <h5 class="card-title">{{ quiz.quiz_title }}</h5>
                            <p class="card-text">This Quiz has {{ quiz.question_set.count }} questions.</p>
                        </div>
                        <div class="btn btn-success"><a href="{% url 'quiz' quiz.pk quiz.question_set.first.pk %}" class="card-link text-white"> Start Quiz</a></div>

                </div>
                    {% endif %}
                {% endfor %}
            {% else %}

                <div class="container">
                    <div class="card-columns mt-5">
                        <div class="col ml-lg-5">
                            <div class="card text-white bg-dark text-center" style="margin: auto; max-width: 20rem">
                                <div class="card-body">
                                    There are no quiz!!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% elif request.user.profile.role == "Teacher" %}
            {% if not request.user.is_staff %}
                <div class="container">
                    <div class="card-columns mt-5">
                    <div class="col ml-lg-5">
                        <div class="card text-white bg-dark text-center" style="max-width: 18rem">
                            <div class="card-body">
                                You are Teacher and are yet to be verified. Contact Admin.
                            </div>
                        </div>
                    </div>
                        </div>
                </div>
            {% else %}
                {% if quiz_by_teacher %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3">
                                {% for quiz in quiz_by_teacher %}
                                    <div class="card border-success mb-3 mt-5 ml-5" style="max-width: 18rem;">
                                    <div class="card-header bg-transparent border-success text-success">Quiz {{ forloop.counter }}</div>
                                    <div class="card-body text-success">
                                        <h5 class="card-title">{{ quiz.quiz_title }}</h5>
                                        <p class="card-text">This Quiz has {{ quiz.question_set.count }} questions.</p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col">
                                        <a href="{% url 'add_question' request.user quiz.pk %}" class="btn btn-success">Add more questions </a>
                                                </div>
                                            <div class="col">
                                                <a href="{% url 'show_quiz' request.user quiz.pk %}" class="btn btn-danger">View</a>
                                            </div>
                                        </div>
                                    </div>
                                    </div>

                                {% endfor %}
                            </div>
                            <div class="col-md-9 mt-5">
                                </table>
                                    <br>
                                    <table class="table">
                                      <thead class="thead-dark">
                                        <tr>
                                          <th scope="col">#</th>
                                          <th scope="col">Quiz</th>
                                          <th scope="col">No of students</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                      {% for quiz in quiz_by_teacher %}
                                        <tr>
                                          <th scope="row">{{ forloop.counter }}</th>
                                          <td>{{ quiz.quiz_title }}</td>
                                          <td>{{ quiz.student.count }}</td>
                                        </tr>
                                      {% endfor %}
                                      </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>


                {% else %}
                    <div class="container">
                    <div class="card-columns mt-5">
                        <div class="col ml-lg-5">
                            <div class="card text-white bg-dark text-center" style="margin: auto; max-width: 20rem">
                                <div class="card-body">
                                    There are no quiz!!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% else %}
    <div class="container" style="margin: auto">
        <div class="card-columns mt-5" >
        <div class="col ml-lg-5">
            <div class="card text-white bg-dark text-center" style="max-width: 18rem">
                <div class="card-body">
                    You are not currently logged in.
                </div>
                <div class="card-footer">
                    <a href="{% url 'Users:signin' %}" class="btn btn-success ">Log in</a>
                </div>
            </div>
        </div>
            </div>
    </div>
    {% endif %}
{% endblock body_content%}