{% extends 'Users/base.html' %}

{% block title_extra %}Home{% endblock title_extra%}

{% block body_content %}
    {% include 'Users/navbar.html' %}
    {% if request.user.is_authenticated %}
        {% if request.user.profile.role == "Student" %}
            {% if all_quiz %}
                <div class="card border-success mb-3 mt-5 ml-5" style="max-width: 18rem;">
                    {% for quiz in all_quiz %}
                        <div class="card-header bg-transparent border-success text-success">Quiz {{ quiz.id }}</div>
                        <div class="card-body text-success">
                            <h5 class="card-title">{{ quiz.quiz_title }}</h5>
                            <p class="card-text">This Quiz has {{ quiz.question_set.count }} questions.</p>
                        </div>
                        <div class="btn btn-success"><a href="{% url 'quiz' quiz.pk 1 %}" class="card-link text-white"> Start Quiz</a></div>
                    {% endfor %}
                </div>
            {% else %}

                <div class="container">
                    <div class="card-columns mt-5">
                        <div class="col ml-lg-5">
                            <div class="card text-white bg-dark text-center" style="margin: auto; max-width: 20rem">
                                <div class="card-body">
                                    There are no quiz!!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% else %}
    <div class="container">
        <div class="card-columns mt-5">
        <div class="col ml-lg-5">
            <div class="card text-white bg-dark text-center" style="max-width: 18rem">
                <div class="card-body">
                    You are not currently logged in.
                </div>
                <div class="card-footer">
                    <a href="{% url 'Users:signin' %}" class="btn btn-success ">Log in</a>
                </div>
            </div>
        </div>
            </div>
    </div>
    {% endif %}
{% endblock body_content%}