{% extends 'Users/base.html' %}
{% load staticfiles %}
{% block title_extra %}Sign In{% endblock title_extra%}
{% block head_extra %}
{% endblock head_extra %}

{% block body_content %}
    {% include 'Users/navbar.html' %}


    <div class="container" style="margin: auto;">
        <div class="card" style="width: 500px; margin: auto;">
            <div class="card-body mx-4 mt-5">
                <div class="card-title">
                    <h4 style="font-family: Helvetica, Arial, sans-serif">SQUIZ</h4>
                </div>

                <div class="signin">
                    {% if error_pass %}
                        <span class="error_register">Wrong Password :-(</span>
                    {% elif error_signin %}
                        <span class="error_signin">There is no user with this username, You need to register first!</span>
                    {% endif %}
                    <form action="{% url 'Users:signin' %}" class="form_login" method="post">
                        {% csrf_token %}
                        <div class="md-form">
                            <input type="text" name="username" id="form1" class="form-control" required="true" autocomplete="off">
                            <label for="form1">Username</label>
                        </div>
                        <div class="md-form">
                            <input type="password" name="password" id="form2" class="form-control" required="true" autocomplete="off">
                            <label for="form2">Password</label>

                            <p class="font-small blue-text d-flex justify-content-end">Forgot
                                <a href="#" class="blue-text ml-1"> Password?</a>
                            </p>
                        </div>
                        <div class="text-center mb-3">
                            <button class="submit btn btn-indigo"> Login </button>
                        </div>
                        <div class="modal-footer mx-5 pt-3 mb-1">
                                <p class="font-small grey-text d-flex justify-content-end">Not a member?
                                    <a class="signup_text blue-text ml-1"> SignUp </a>
                                </p>
                        </div>
                    </form>
                </div>

                <div class="signup">
                    {% if error_register %}
                        <span class="error_register">User with this username already exists!</span>
			{% elif error_pass %}
                        	<span class="error_pass">Password didnt match!</span>
                    {% endif %}

                    <form action="{% url 'Users:signup' %}" class="form_register" method="post" autocomplete="off">
                        {% csrf_token %}
                        <div class="md-form">
                            <input type="text" name="username" id="form3" class="form-control" required autocomplete="off">
                            <label for="form3">Username</label>
                        </div>
                        <div class="md-form">
                            <input type="password" name="password" id="form4" class="form-control" required autocomplete="off">
                            <label for="form4">Password</label>
                        </div>
			<div class="md-form">
                            <input type="password" name="confirm_password" id="form5" class="form-control" required autocomplete="off">
                            <label for="form5">Confirm Password</label>
                        </div>
                        <div class="md-form">
                            <input type="text" name="first_name" id="form6" class="form-control" required>
                            <label for="form6">First Name</label>
                        </div>
                        <br>
                        <div class="input-field">
                            <select name="role" required id="role_select">
                                <option>Student</option>
                                <option>Teacher</option>

                            </select>
                            <label for="role_select">Role</label>
                        </div>
                        <br>
                        <div class="md-form">
                            <input type="text" name="last_name" id="form7" class="form-control" required>
                            <label for="form7">Last Name</label>
                        </div>
                        <br>
                        <div class="md-form">
                            <input type="text" name="department" id="form8" class="form-control" required>
                            <label for="form8">Department</label>
                        </div>
                        <br>
                        <div class="text-center mb-3">
                            <button class="submit btn btn-indigo"> Register </button>
                        </div>
                        <div class="modal-footer mx-5 pt-3 mb-1">
                                <p class="font-small grey-text d-flex justify-content-end">Already a member?
                                    <a class="signin_text blue-text ml-1"> Sign In </a>
                                </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock body_content%}
{% block js_extra %}
{% if error_register  or error_cnfrmpass%}
    <script>
        $(document).ready(function(){
            $(".signin").hide();
        });
    </script>
{% else %}
    <script>
        $(document).ready(function(){
            $(".signup").hide();
        });
    </script>
{% endif %}
<script>
$(document).ready(function(){
        $(".signup_text").click(function () {
            $(".signin").hide(); //$("#human").removeClass('bottom');
            $(".signup").show();  //$("#product").addClass('bottom');
        });

        $(".signin_text").click(function () {
            $(".signup").hide(); //  $("#product").removeClass('bottom');
            $(".signin").show();  // $("#human").addClass('bottom');
        });

    }) ;
</script>
{% endblock %}
